@button-bg: #4362bc;

.container {
  background-color: @button-bg;
  border-radius: 7px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  width: auto;

  &:disabled {
    background-color: #a60000;
  }
}

a.container {
  padding: 10px 30px;
  display: inline-block;
}
